<div class="row">
    <h1>Proyectos realizados por Juan Manuel Godoy</h1>
        <div class="container">
            <div class="col-sm-12 col-md-7 col-lg-7 proyecto1">
                <h4>Proyecto 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse officiis perferendis veniam cumque aperiam quas error animi dolor repellendus illum officia, modi soluta aliquam nostrum laborum minima rerum porro deserunt.</p>
            </div>

            <div class=" col-sm-12 col-md-3 col-md-3 offset-md-1 offset-lg-1 imagen1">
                <img src="../../../assets/java.png" class="img-fluid">
            </div>
        </div>
</div>
