<div class="row">
    <h1>Proyectos realizados por Juan Manuel Godoy</h1>
        <div class="container">
            <div class="col-sm-12 col-md-7 col-lg-7 proyecto1">
                <h4>Proyecto CineCinco</h4>
                <p>Este proyecto fue desarrollado a fin de aplicar los conocimientos adquiridos en lenguajes de programación referidos al frontend
                    como Thymeleaf, CSS y boostrap.
                </p>
                <p>El mismo se refiere a una aplicación destinada a la publicación de la cartelera de un cine ficticio, como también para la venta de entradas
                    y el cobro de las mismas a través de un plataforma digital de pagos.
                </p>
            </div>

            <div class=" col-sm-12 col-md-3 col-md-3 offset-md-1 offset-lg-1 imagen1">
                <img src="../../../assets/CineCinco.png" class="img-fluid">
            </div>
        </div>
        <div class="container">
            <div class="col-sm-12 col-md-7 col-lg-7 proyecto1">
                <h4>Proyecto Meetmedia</h4>
                <p>Este proyecto fue desarrollado para la aplicación de los conocimientos obtenidos en el Curso de Desarrollo Full Stack en Egg Educación; el mismo fue presentado a modo de trabajo final. Se aplicaron los lenguajes estudiados en esta Institución: Java, HTML y Mysql</p>
                <p></p>
            </div>

            <div class=" col-sm-12 col-md-3 col-md-3 offset-md-1 offset-lg-1 imagen1">
                <img src="../../../assets/Meetmedia.png" class="img-fluid">
            </div>
        </div>
</div>
