<div class= "row">
    <h1>Experiencia Laboral </h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur reiciendis ab, quaerat ipsum tempora harum incidunt quia illum, consectetur aliquid, expedita minima. Odio beatae quia velit reprehenderit magni necessitatibus eligendi.</p>
            <li>
                <h2>Trabajo 2</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur reiciendis ab, quaerat ipsum tempora harum incidunt quia illum, consectetur aliquid, expedita minima. Odio beatae quia velit reprehenderit magni necessitatibus eligendi.</p>
            <li>
                <h2>Trabajo 3</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur reiciendis ab, quaerat ipsum tempora harum incidunt quia illum, consectetur aliquid, expedita minima. Odio beatae quia velit reprehenderit magni necessitatibus eligendi.</p>
            <li>
                <h2>Trabajo 4</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur reiciendis ab, quaerat ipsum tempora harum incidunt quia illum, consectetur aliquid, expedita minima. Odio beatae quia velit reprehenderit magni necessitatibus eligendi.</p>
            <li>
                <h2>Trabajo 5</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur reiciendis ab, quaerat ipsum tempora harum incidunt quia illum, consectetur aliquid, expedita minima. Odio beatae quia velit reprehenderit magni necessitatibus eligendi.</p>
        </ul>

    </div>
</div>


