<div
        class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotomia.jpg" class="fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p>Godoy Juan Manuel</p>
    <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
        <span> 
            <h1> Acerca de </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quae sed eveniet aperiam eaque modi impedit nobis corporis, 
                dolore libero similique, esse optio a mollitia ducimus voluptas, 
                recusandae animi. Provident, aspernatur!</p>
        </span>
    </div>
</div>
