<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h2>Colegio Secundario</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eveniet quas doloremque rem doloribus dignissimos omnis ipsa natus fugit aliquid nam expedita autem, eum repellendus minus aut ea suscipit assumenda.</p>
            <li>
                <h2>Facultad de Ciencias Económicas UNCuyo</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eveniet quas doloremque rem doloribus dignissimos omnis ipsa natus fugit aliquid nam expedita autem, eum repellendus minus aut ea suscipit assumenda.</p>
            <li>
                <h2>Facultad de Ciencias Económicas UNCuyo</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eveniet quas doloremque rem doloribus dignissimos omnis ipsa natus fugit aliquid nam expedita autem, eum repellendus minus aut ea suscipit assumenda.</p>
            <li>
                <h2>Egg Education</h2> - <h4>Período:</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eveniet quas doloremque rem doloribus dignissimos omnis ipsa natus fugit aliquid nam expedita autem, eum repellendus minus aut ea suscipit assumenda.</p>
        </ul>

    </div>
</div>
