<div class="row">
    <div class="container">
        <div class="logoAP">
                <img src="../../../assets/APLogo.png" id="APLogo">
        </div>
        <div class="redesSociales">
                <a href="https://www.facebook.com/juanmanuel.godoy.52"><img src="../../../assets/facebook.png" alt="facebook"></a>
                <a href="https://github.com/juanmanuelgodoy"><img src="../../../assets/github.png" alt="github"></a>
                <a href="https://www.instagram.com/juanmanuel.godoy.52"><img src="../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://www.linkedin.com/in/juan-godoy-1b2701238/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
                <a href="https://twitter.com/JuanManGod"><img src="../../../assets/twitter.png" alt="twitter"></a>
                <button type="button" class="btn btn-outline-info" (click)="login()">LOGIN</button>
        </div>
    </div>
</div>

