<div
        class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-4">
        <img id= "foto" src="../../../assets/fotomia1.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-12 col-lg-12">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
    <p id="titulo">{{persona.titulo}}</p>
    </div>
    <div id= "acerca" class="col-xs-12 col-sm-8 col-md-12 col-lg-12"> 
        <span> 
            <h1> Acerca de Juan Manuel Godoy</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quae sed eveniet aperiam eaque modi impedit nobis corporis, 
                dolore libero similique, esse optio a mollitia ducimus voluptas, 
                recusandae animi. Provident, aspernatur!</p>
        </span>
    </div>
</div>
