<div class="row">
  <h1>Hard & Soft Skills</h1>

  <h2>Lenguajes de programación - Backend</h2>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/java.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [showTitle]="true"
        [title]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/ts.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/js.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <h2>Lenguajes de programación - Frontend</h2>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/angular.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/boostrap.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/CSS3.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/html.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/thymeleaf.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <h2>Idiomas</h2>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/ingles.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="60"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/frances.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
    </div>

    <h2>Habilidades blandas</h2>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/lider.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
      <h4>Trabajo en equipo</h4>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/scrum.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
      <h4>Metodología ágil: Scrum</h4>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [subtitle]="'Progreso'"
        [subtitleColor]="'#000000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5178B3'"
        [innerStrokeColor]="'#5178B3'"
        [animation]="true"
        [animationDuration]="500"
        [showImage]="true"
        [imageSrc]="'../assets/grupo.png'" 
        [imageHeight]="70"
        [imageWidth]="70"
      ></circle-progress>
      <h4>Liderazgo</h4>
    </div>
</div>
